.pwg-banner .pwg-tagline h1 {
  font-size: 51px;
}

.pwg-banner .btn,
.get-started .btn {
  font-size: 12px;
  padding: 15px 18px;
}

.latest-activites {
  row-gap: 20px !important;
}

.minimenu_item {
  width: 200px !important;
}

.price-footer .btn-menu {
  white-space: wrap;
  height: 45px;
  font-size: 15px;
}

@media (min-width: 991px) {
  .navbar .container {
    padding: 0 !important;
    gap: 10px !important;
  }

  .horizontal-menu-button {
    height: 65px !important;
    width: 200px !important;
  }

  .horizontal-menu-track {
    height: 85px !important;
    gap: 14px !important;
  }

  .challenge-card h2 {
    font-size: 45px !important;
  }
}

@media (max-width: 1400px) {
  .get-started-buttons {
    flex-direction: column !important;
    align-items: start !important;
  }
}

@media (max-width: 1200px) {
  .footer-get-started .btn-menu {
    font-size: 12px !important;
  }
}

@media (max-width: 991px) {
  .pwg-banner .pwg-tagline h1 {
    font-size: 45px;
  }
  .footer-get-started .btn-menu {
    font-size: 14px !important;
  }
  .mobile-footer-row .header-mail-btn,
  .mobile-footer-row .header-lang-btn {
    font-size: 12px !important;
    font-weight: 700 !important;
  }

  .challenge-card h2,
  .use-case-header h2,
  .use-case-header h1 {
    font-size: 23px !important;
  }

  .contact-form-success-inner .success-buttons .btn-cta,
  .contact-cards .btn-cta {
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  .contact-form-success-inner .success-buttons .btn-cta,
  .contact-cards .btn-cta {
    font-size: 14px !important;
  }
}

@media (max-width: 500px) {
  .pwg-banner .pwg-tagline h1 {
    font-size: 35px;
  }
}
