body {
  margin: 0;
  padding: 0;
  background-image: url("../../images/error404/EROR404.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.error-title {
  color: var(--clear);
  padding-bottom: 20px;
}

.error-description{
  color: var(--clear);
  font-style: italic;
  padding-bottom: 60px;
}

.content-error404{
  margin-top: 20%;
  gap: 60px;
}

.btn-menu.menu-btn-white{
  min-width: 178px;
}

.btn-menu span{
  font-weight: 800;
}