.plugins-title {
  margin-bottom: 120px;
}

.container-feature {
  margin-bottom: 100px;
}

.container-plugin {
  margin-bottom: 130px;
}

.tab-card {
  padding: 40px 45px;
  border-radius: 10px;
  background-color: var(--grey);
  overflow-x: auto;
}

.tab-card table {
  border-collapse: collapse;
  min-width: 700px;
}

.tab-card table thead tr th {
  padding: 0 20px 35px;
}

.tab-card thead tr th:nth-child(1) {
  max-width: 240px;
  width: 240px;
  min-width: 240px;
}

.tab-card thead tr th:nth-child(2) {
  max-width: 300px;
  width: 300px;
  min-width: 300px;
}

.tab-card tbody tr:nth-child(odd) td {
  background-color: var(--clear) !important;
}

.tab-card tbody tr:nth-child(even) td {
  background-color: var(--grey) !important;
}

.tab-card tbody tr:nth-child(odd) td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tab-card tbody tr:nth-child(odd) td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tab-card tbody tr td {
  padding: 10px 20px;
  vertical-align: middle;
}

.small-check-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--main_flash_green);
  margin: 0 auto;
}

.small-check-icon .icon-check-1 {
  color: var(--clear);
  font-size: 11px;
}

.small-cross-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin: 0 auto;
}

.small-cross-icon .icon-cancel {
  font-size: 0;
  position: relative;
}

.small-cross-icon .icon-cancel::before {
  content: "–";
  font-size: 16px;
  color: var(--dark);
  font-weight: 400;
}

.thead-fixed-wrapper {
  position: fixed;
  top: 0;
  z-index: 50;
  overflow: hidden;
  background: var(--grey);
  border-radius: 10px 10px 0 0;
  padding: 40px 45px 0;
}

.thead-fixed-wrapper table {
  border-collapse: collapse;
}

#plugins-table-body tr.odd-row {
  background-color: #f9f9f9;
}
