
.pricing-header-main {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: var(--clear) !important;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pricing-title {
    font-family: "Sora", sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: var(--dark);
    margin-bottom: 20px;
    text-align: center;
}

.pricing-title .main-orange-text {
    color: var(--main_orange) !important;
}


.highlight-wrap {
    position: relative;
    display: inline-block;
}


.highlight-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    width: 100%;
    height: auto; 
    z-index: 0;
    pointer-events: none;
}

.highlight {
    position: relative;
    z-index: 2;
}

.pricing-subtitle {
    font-size: 18px;
    color: var(--dark);
    max-width: 700px;
    margin: 30px auto 20px auto;
    text-align: center;
}

.btn-pricing-switch {
    margin-bottom: 10px;
}

.pricing-toggle-description {
    min-height: 24px;
    margin-top: 10px;
    text-align: center;
}

.toggle-desc {
    font-size: 15px;
    font-weight: 500;
    transition: opacity 0.3s ease;
    text-align: center;
}

.main-pink-text {
    color: var(--main_pink) !important;
}

.main-orange-text {
    color: var(--main_orange) !important;
}


.pricing-content {
    animation: fadeIn 0.4s ease;
}

.d-none-card{
    display: none !important;
}

.selfhosted-card-container {
    background-color: var(--grey) !important;
    border-radius: 10px !important;
    padding: 60px !important;
    padding-bottom: 40px !important;
    margin: 0 auto 50px auto !important;
    max-width: 1140px !important;
}

.selfhosted-card-container h2 {
    font-size: 32px !important;
}


.storage-download-container a.btn-menu.menu-btn-white{
    width: 260px !important;
}

/******
Storage section
******/

.storage-section {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 60px 40px;
    margin: 3rem auto;
}

.storage-subtitle {
    color: #6c757d;
    max-width: 700px;
    margin: 1rem auto 3rem;
}

.storage-divider {
    position: relative;
    display: flex;
    justify-content: center;
}

/* @media (min-width: 992px) {
    .storage-divider:not(:last-child):after {
        content: "";
        position: absolute;
        right: 0;
        top: 25%;
        height: 50%;
        width: 1px;
        background-color: #dee2e6;
    }
} */

.storage-divider:not(:last-child):after{
    content: "";
        position: absolute;
        right: 0;
        top: 10%;
        height: 100%;   
        width: 1px;
        background-color: var(--dark_text);
}
.storage-section .storage-grid .storage-divider .storage-item-container .storage-option-card {
    text-align: center;
    padding: 10px;
    width : 188px;
    height: 87px;
}

.storage-section .storage-grid .storage-divider .storage-item-container .storage-option-card .storage-amount span {
    color: var(--main_pink);
    font-size: 24px !important;
    line-height: 120% !important;
    font-family: 'Sora', bold;
}

.storage-section .storage-grid .storage-divider .storage-item-container .storage-option-card .price-display-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: var(--dark);
    font-family: "Sora", sans-serif;
    font-weight: 800;
    margin-top: 5px;
}

.storage-section .storage-grid .storage-divider .storage-item-container .storage-option-card .price-number {
    font-size: 1.2rem;
    margin-right: 2px;
    padding-bottom: 5px;
    font-size: 24px !important;
}

.storage-section .price-details {
    display: flex;
    justify-content: center; 
    gap: 5px;
}

.storage-section .storage-grid .storage-divider .storage-item-container .storage-option-card .price-details p {
    text-align: center;
    font-size: 12px !important;
    font-family: 'Red Hat Display';
    font-weight: 400;
}

.storage-download-container .menu-btn.menu-btn-white {
    width: 280px !important;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
    .pricing-title {
        font-size: 32px;
    }
    
}