.signup-header {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 40px;
  background-size: 100%;
  background-position: center 20px;
  background-image: linear-gradient(180deg, #FFFAF3 0%, #FFEACF 100%);
}
.illustration-container {
  background-color: var(--clear);
  height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.doctor-container {
  position: relative;
  width: 100%;
  max-width: 530px; 
  border-radius: 16px;
  margin-bottom: 30px; 
}

.doctor-container .doctor {
  width: 100%;
  height: auto;
}

.bg-dot-vector {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.data-signup-grid {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 530px; 
}

.stat-card.size-large {
  grid-column: span 3; 
  background: white;
  border-radius: 12px;
  padding: 20px 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.stat-card:not(.size-large) {
  background: white;
  border-radius: 12px;
  padding: 15px 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  grid-column: span 2; 
}


.stat-card:not(.size-large) {
  background: white;
  border-radius: 12px;
  padding: 15px 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  grid-column: span 2; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-card h3 {
  font-size: 32px;
  font-weight: 900;
  line-height: 100%;
  color: var(--dark);
  margin-bottom: 8px; 
  font-family: 'Red Hat Display';
  text-align: center;
  white-space: nowrap; 
}

.stat-card.size-large p {
  font-size: 16px;
  font-weight: 600; 
  font-family: 'Red Hat Display';
  color: var(--dark);
  margin: 0;
  line-height: 120%;
  text-align: center;
  white-space: nowrap; 
}

.stat-card:not(.size-large) p {
  font-size: 14px; 
  font-weight: 600;
  font-family: 'Red Hat Display';
  color: var(--dark);
  margin: 0;
  line-height: 1.2; 
  text-align: center;
  white-space: normal; 
  word-wrap: break-word;
} 

.stat-card h3 {
  font-size: 32px;
  font-weight: 900;
  font-style: Bold;
  line-height: 100%;
  color: var(--dark);
  margin-bottom: 4px;
  font-family: 'Red Hat Display';
  text-align: center;
}

.stat-card p {
  font-size: 16px;
  font-style: SemiBold;
  font-family: 'Red Hat Display';
  color: var(--dark);
  margin: 0;
  line-height: 100%;
  text-align: center;
  white-space: nowrap;
}

.signup-form-split-copy {
  max-width: 520px;
}
.piwigo-input-group {
    display: flex !important;
    border: 1px solid rgba(141, 142, 142, 1) !important;
    border-radius: 4px !important;
    background: var(--clear) !important;
    overflow: visible !important; 
    position: relative !important;
}

.piwigo-input-group .form-control {
    border: none !important;
    height: 50px !important;
    padding: 24px 13px 9px !important;
    background: transparent !important;
    box-shadow: none !important;
    flex: 1 !important;
}

.piwigo-input-group .input-group-text {
    border: none !important;
    border-left: 1px solid var(--dark_text) !important;
    font-family: "Red Hat Display" !important;
    background: transparent !important;
    border-radius: 0 4px 4px 0 !important;
}
/* 
.piwigo-url-placeholder {
    position: absolute !important;
    top: 17px !important;
    left: 14.5px !important;
    color: var(--dark_text) !important;
    pointer-events: none !important;
    z-index: 5 !important;
    opacity: 1 !important;
} */

/* #form-user,
#form-user:valid {
  box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 1) !important;
}

#form-user:focus,
#form-user:valid:focus {
  box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 1) !important;
  border-color: var(--main_flash_green) !important;
} */

.form-check-input:hover{
    box-shadow: none !important;
}

#form-password,
#form-password:valid {
  box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 1) !important;
}

#form-password:focus,
#form-password:valid:focus {
  box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 1) !important;
  border-color: var(--main_flash_green) !important;
}

#form-user:focus ~ .piwigo-url-placeholder {
    opacity: 0.5 !important;
    top: 26px !important;
    left: 16px !important;
}

#form-user:not(:placeholder-shown) ~ .piwigo-url-placeholder {
    opacity: 0 !important;
    display: none !important;
}

/* .little-piwigo-url-placeholder {
    display: none !important;
    position: absolute !important;
    top: 4px !important;
    left: 12px !important;
    color: var(--dark_text) !important;
    font-size: 12px !important;
    z-index: 5 !important;
} */

#form-user:focus ~ .little-piwigo-url-placeholder,
#form-user:not(:placeholder-shown) ~ .little-piwigo-url-placeholder {
    display: block !important;
}

#form-user:focus ~ .piwigo-url-placeholder .orange-text {
    display: none !important;
}

.piwigo-input-group:focus-within {
    border: 1px solid var(--main_flash_green) !important;
}

.password-placeholder,
.little-password-placeholder {
    position: absolute !important;
    left: 14.5px !important;
    pointer-events: none !important;
    z-index: 5 !important;
}

.password-placeholder {
    top: 17px !important;
    color: var(--dark_text) !important;
    opacity: 1 !important;
}

.little-password-placeholder {
    top: 4px !important;
    display: none !important;
    font-size: 12px !important;
    color: var(--dark_text) !important;
}

#form-password:focus ~ .password-placeholder {
    opacity: 0.5 !important;
    top: 26px !important;
    left: 16px !important;
}

#form-password:not(:placeholder-shown) ~ .password-placeholder {
    opacity: 0 !important;
    display: none !important;
}

#form-password:focus ~ .little-password-placeholder,
#form-password:not(:placeholder-shown) ~ .little-password-placeholder {
    display: block !important;
}

#form-password:focus ~ .little-password-placeholder .orange-text,
#form-password:not(:placeholder-shown) ~ .little-password-placeholder .orange-text {
    display: none !important;
}

#form-password:focus ~ .little-password-placeholder {
    color: var(--main_flash_green) !important;
}

#passWarningIcon,
#passEye {
    position: absolute !important;
    top: 25px !important;
    transform: translateY(-50%) !important;
    z-index: 10 !important;
}

#passEye {
    right: 13px !important;
    cursor: pointer;
}

#passWarningIcon {
    right: 40px !important; 
    color: var(--main_pink) !important;
}

.password-hints {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.passHelp, .passHelp2 {
    display: flex !important;
    align-items: center !important; 
    gap: 8px !important;
}

.passHelp i, .passHelp2 i {
    font-size: 14px !important;
    color: var(--main_pink) !important;
    margin: 0 !important;
}

.passHelp p, .passHelp2 p {
    margin: 0 !important;
    line-height: 1 !important;
}

.text-end .btn-menu.menu-btn-green{
    width : 256px !important;
}
/* 
input {
  padding: 0px !important;
} */
.signup-form-split-copy h1 {
  margin-bottom: 10px;
}

.check-help-container {
  display: flex;
  flex-direction: column;
  transform: translateY(10px);
}

.check-help-container.is-checked {
    display: flex;
    flex-direction: column;
    transform: translateY(0) !important;
}

/* 
.signup-form-split-copy .subtitle {
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.6;
} */

/* Form card - Exactement comme .contact-form */
/* .signup-form-card {
  width: 100% !important;
  padding: 38px;
  border: 1px solid var(--secondary_flash_green);
  border-radius: 10px;
  background: var(--clear);
  box-shadow: 0px 4px 20px 0px rgba(217, 217, 217, 0.4);
} */

/* .signup-form-card .form-group {
  margin-bottom: 16px;
}

.signup-form-card .btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
} */

/* .signup-header-image img {
    max-width: 110%; 
} */