.use-case-section {
  display: none;
}

.use-case-section.is-active {
  display: block;
}

/* carousel */
.tourism-carousel {
  padding-bottom: 110px;
}

.logos-marquee-wrapper {
  overflow: hidden;
  width: 100%;
}

.logos-marquee-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: marquee 90s linear infinite;
}

.logos-marquee-wrapper:hover .logos-marquee-track {
  animation-play-state: paused;
}

.logos-marquee-item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 121px;
  padding: 18px 22px;
  border-radius: 10px;
  background: var(--grey);
  box-sizing: border-box;
}

.logos-marquee-item img {
  display: block;
  width: 100%;
  max-height: 100px;
  object-fit: contain;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  /* carousel */
  .logos-marquee-item {
    width: 150px;
    height: 80px;
    padding: 10px;
  }

  .logos-marquee-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
